body {
  background-color: whitesmoke;
  color: #6c757d
}

#avatar{
  width: 250px;
  border-radius: 50%;
}

#line{
  width: 50px;
}

#about {
  background-color: whitesmoke;
}


.navbar {
  background-color: #ddd5d3;
  position: fixed;
  width: 100%;
  display: block;
  transition: top 0.3s;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}


* {
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}

#landing {
  height: 100vh;
  margin-top: 0px;
  /*Center the contect vertically using flexbox*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about {
  height: 100vh;
  /*Center the contect vertically using flexbox*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 3.5px;
}

#contact {
  height: 100vh;
  /*Center the contect vertically using flexbox*/
  
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}



/*Language I Used*/
.tools {
  padding: 20px;
  height: 480px;
  border: 5px solid #d4d8e8;
  margin: 20px;
  width: 100%;
  color: black;
  border-radius: 10px;
  color: #6c757d
}

h2 {
  color: #55968f;
}



/*Bootstrap Overrides*/

.jumbotron {
  background-image: url("./images/front1.jpg");
  background-repeat: no-repeat, no-repeat;

}

.fa {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  size: 500px;
}

.fa:hover {
    opacity: 0.5;
}

.thumbnail:hover {
    position:relative;
    width:90px;
    height:auto;
    z-index:90;
}